.text-footer {
  color: white;
  text-align: center;
  font-family: "Arbutus Slab", serif;
}
.text-footer h2 {
  color: white;
  text-align: center;
  font-family: "Arbutus Slab", serif;
}

.icon-footer {
  color: white;
  font-size: 5vh;
  padding: 5px;
}
