.button-nav {
  color: white;
  font-family: "Arbutus Slab", serif;
  font-weight: bold;
  background: linear-gradient(
    to bottom,
    var(--mainColor) 0%,
    var(--mainColor) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 3px 3px;
  text-decoration: none;
}

.button-nav:focus {
  color: white;
  font-weight: bold;
}

.button-nav:hover {
  color: white;
  font-weight: bold;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}
.logo-nav {
  height: 40px;
}

.logo-text-nav {
  color: white;
  font-family: "Arbutus Slab", serif;
  font-weight: bold;
}

.logo-text-nav:focus {
  color: white;
  font-weight: bold;
}

.logo-text-nav:hover {
  color: white;
  font-weight: bold;
}

.ham-nav {
  display: none;
}

.drawer-nav {
  color: black;
  font-weight: bold;
}

.drawer-nav:focus {
  color: black;
  font-weight: bold;
}
.drawer-nav:hover {
  color: orange;
  font-weight: bold;
}

@media only screen and (max-width: 950px) {
  .button-nav {
    display: none;
  }
  .ham-nav {
    display: inline;
  }
}
